<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="K35Entities" connectionString="metadata=res://*/K35Entities.csdl|res://*/K35Entities.ssdl|res://*/K35Entities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=KLHKPC3SRV121;user id=root;password=12#$qwER;persistsecurityinfo=True;database=kfms_sit&quot;" providerName="System.Data.EntityClient" />--><!--<add name="kfms_uatEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;password=a6651965;database=kfms_uat&quot;" providerName="System.Data.EntityClient" />-->
<add name="K3Entities" connectionString="metadata=res://*/K3Entities.csdl|res://*/K3Entities.ssdl|res://*/K3Entities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=K3PRODDR;password=fu6rufra;persist security info=True;user id=KEWILLFWD&quot;" providerName="System.Data.EntityClient" />
    <add name="K35Entities" connectionString="metadata=res://*/K35Entities.csdl|res://*/K35Entities.ssdl|res://*/K35Entities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;database=kfms_uat;password=a6651965;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>